services:
  tracker:
    build: .
    container_name: service-tracker-dash
    ports:
      - "8815:8815"
    env_file:
      - .env
    environment:
      - FLASK_DEBUG=1
    entrypoint: ["/entrypoint.sh"]
    volumes:
      - ~/docker/tracker:/config
      - .:/app
      - ./entrypoint.sh:/entrypoint.sh

    working_dir: /app
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.std.rule=Host(`std.crzynet.com`)"
      - "traefik.http.routers.std.tls=true"
      - "traefik.http.services.std.loadbalancer.server.port=8815"     
      - dockernotifier.notifiers=dns,service-tracker-dashboard
      - dockernotifier.containerhostname=std
      - dockernotifier.containerzone=crzynet.com
      - dockernotifier.dockerdomain=home.arpa  
      - dockernotifier.std.internalurl=https://std.crzynet.com/
      - dockernotifier.std.internal.health=true
      - dockernotifier.std.group=dnloads

    networks:
       proxy:
networks:
  proxy:
    external: true
